{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{% if content %}
  <div class="media-image">
    {{ content.field_media_image }}
    {% if media.field_credits.value %}
      <div class="credits has-text-grey-light">
        © {{ content.field_credits }}
      </div>
    {% endif %}
  </div>
  {% if content.field_legend %}
    <p class="caption">
      {{ content.field_legend }}
    </p>
  {% endif %}
{% endif %}
