.has-shadow {
  box-shadow: 0 0.5em 1em -0.125em rgba(0,0,0,0.1), 0 0px 0 1px rgba(0,0,0,0.02);
}

.radius {
  border-radius: 1rem;
  img {
    border-radius: 1rem;
  }
}

.has-text-gold {
  color: $gold;
}
