.hero-body.cover {
  background-size: cover;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    background-color: #000;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: auto;
    z-index: 2;
    opacity: 0.5;
  }
  .content {
    z-index: 3;
  }
}
