.swiper-button-prev,
.swiper-button-next {
  background: white;
  border-radius: 1rem;
  color: $grey-dark;
  &:after {
    font-size: initial;
  }
}

.instantSwiper {
  border-radius: 1rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(0,0,0,0.1), 0 0px 0 1px rgba(0,0,0,0.02);
}
