$primary: #202020;
$primary_light: #707070;
$secondary: #3F3F3F;
$basic: #363636;
$light: #F2F2F2;
$pop: #FFDF6C;
$info: $pop;
$gold: #D8B665;
$twitter: #4099FF;
$white: #FFFFFF;
$black: #000000;
$green_gradient: linear-gradient(315deg, #63d471 0%, #233329 74%);
$blue_gradient: linear-gradient(315deg, #537895 0%, #09203f 74%);
$steel_gradient: linear-gradient(315deg, #E5E5E5 0%, #B9B9B9 74%);
$ygold_gradient: linear-gradient(315deg, #CCA65D 0%, #fde7a5 74%);
$rgold_gradient: linear-gradient(315deg, #A16539 0%, #FFDCBA 74%);
$black_gradient: linear-gradient(315deg, #000000 0%, #414141 74%);
$instax_gradient: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
$screen_gradient: linear-gradient(315deg, #fff000 0%, #ed008c 74%);
$tiffany_gradient: linear-gradient(315deg, #4dccc6 0%, #96e4df 74%);
