@import "colors.scss";
$link: $basic;
$navbar-background-color: $black;
$navbar-height: 6rem;
$navbar-padding-vertical: 1.5rem;
$navbar-item-color: $white;
$navbar-burger-color: $white;
$navbar-item-hover-color: $pop;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $pop;
$tag-radius: 0;
$card-radius: 1rem;
